<div class="home-box" id="text-ayuda">
	<h2>¡Ayuda!</h2>

	<span>
		<h3>
			¿Es tu primera vez en el sitio?
		</h3>
		<p>
			<b>¡Bienvenido!</b>	Gracias por visitar DondeVoyAComer.com, esperamos que te guste la experiencia y vuelvas con amigos!
		</p>
		<p>
			La idea destrás del sitio es muy simple: <b>armar la mejor gu&iacute;a de lugares para comer de Montevideo, Uruguay. </b>
			<br/>Para eso ¡te necesitamos!	No hay nadie mejor que vos para contarnos qué te parece cada lugar de comida que hayas visitado.<br/>
		</p>

		<p>
			Vas a poder puntuar y hasta publicar tu opini&oacute;n para que otros usuarios puedan beneficiarse de tu experiencia.<br/>
			Lo mejor de todo, es que si el lugar al que fuiste a comer no aparece, <b>¡lo podés ingresar vos!</b>

		</p>
		<h3>¿Cómo hacés?</h3>

		<p>
			Ser parte de la comunidad de DondeVoyAComer.com es muy simple, tenés que seguir los siguientes pasos:<br/>
			<br/>
			<ol id="steps">
				<li><b>Registrarte</b>
					<span>Registrate en el sitio ingresando unos pocos datos tuyos y automaticamente vas a poder comentar y puntuar los lugares en los que hayas comido.</span>
				</li>
				<li>
					<b>Particip&aacute;</b>
					<span>
						¡Ya está! Ya est&aacute;s registrado, ahora pod&eacute;s hacer cosas como <b>dar de alta locales de comida</b>, <b>votarlos y comentarlos</b>

					</span>
				</li>
			</ol>
		</p>
		<h3>¿Qu&eacute; gan&aacute;s?</h3>

		<p>
			Al participar y dar tu opini&oacute;n sobre los diferentes lugares de comida en Montevideo, est&aacute;s ayudando a los otros usuarios a que encuentren la mejor opci&oacute;n.
			</p>
			<p>
				Como agregado extra, vas a estar <b>ganando puntos</b> cada vez que participes de la comunidad. Diferentes acciones te otorgar&aacute;n diferentes puntajes, los cuales sumados nos dar&aacute;n una idea de tu <b>compromiso y ganas de ayudar</b>. Esto a su vez, nos servir&aacute; para seguir dandote <b>beneficios</b> una vez que &eacute;stos aparezcan.
			</p>
			<p>
				Por &uacute;ltimo, cuado realices acciones particularmente importantes, estar&aacute;s ganando <b>medallas</b>, las cuales le dar&aacute;n a la comunidad de usuarios, una idea de que que tan importante y acertados ser&aacute;n tus comentarios sobre los diferentes lugares de comida que quieran visitar.
			
			</p>

		</span>
</div>