<div class="grid_12 ">

	<%=render 'home/bloque_locales_destacados' %>
</div>
<!--
<div class="grid_12 cuadro-help clearfix">


		<div class="notice-box" id="search-notice">
			<h2>
				B u s c á
			</h2>
			<span>
				<p>
				¡Utilizá el formulario de búsqueda para <b>encontrar los mejores lugares para comer!</b>
				</p>
				<p>
					Desde la búsqueda podés <b>votar</b> y <b>comentar</b> a los locales que te gustaron ¡o a los que no!<br/>
					Ayudá a los otros usuarios comentando e ingresando tus lugares favoritos donde comer!
			</span>
		</div>
		<div class="notice-box" id="register-notice">
			<h2>
				R e g i s t r a t e		
			</h2>
			<span>
				<p>
					Como usuario registrado, podés escribir <b>comentarios</b> y <b>votar</b> los locales de comida que encuentres, podés <b>ingresar nuevos locales </b>(¿tal vez el tuyo?), podés hacerte de una <b>reputación</b>
				como el mejor conocedor de locales de comida de Montevideo, y mucho más.
				</p>
				<p>
				<a href="<%=new_registration_path(:user)%>">Registrate</a> o <a href="<%=new_session_path(:user)%>">Ingresá</a> si ya sos usuario!
				</p>
			</span>
		</div>

</div>
-->
	<%=render 'places/search_form' %>

