<div class="home-box" id="texto-futuro">
	<h2>Lo que se viene</h2>
	<span>
		<p>
		El sitio está aún en una etapa temprana de desarrollo, buscando m&aacute;s que nada comentarios y sugerencias de los usuarios, sin embargo, ya existe un camino pensado para el sitio.
		</p>
		<p>
			Algunas cosas que se vienen en el futuro cercano:
			<ul>
				<li>
					<b>B&uacute;squeda por cercan&iacute;a:</b>
					Algo que nos parece importante a la hora de buscar un lugar en donde comer, es saber qu&eacute; tan cerca te queda cada lugar. Esta es una de las prioridades para futuas actualizaciones, ¡así que pronto vas a poder utilizarla!
				</li>
				<li>
					<b>Mayor &eacute;nfasis en puntajes y medallas:</b>
					Es importante que tus contribuciones al sitio sean premiadas y reconocidas, as&iacute; que pronto habr&aacute;n nuevas formas de reconocimiento.¡Estate atento!
				</li>
				<li>
					<b>Mejorar el aspecto social del sitio:</b>
					Otro importante objetivo de <b>DondeVoyAComer.com</b> es el de generar una comunidad de usuarios y entre todos se lograr la mejor gu&iacute;a de locales de comida en l&iacute;nea.
				</li>
				<li>
					<b>Un nuevo diseño:</b>
					Entre las mejoras que se vienen, se encuentra el rediseño completo del sitio. Estamos trabajando un diseño m&aacute;s funcional y atractivo que pueda abarcar todas las nuevas cosas que queremos mostrarte.
				</li>
			</ul>
		</p>
		<h3>¿Qu&eacute; m&aacute;s?</h3>
		<p>
			Nos interesa saber qu&eacute; pens&aacute;s y qu&eacute; te gustar&iacute;a que agregaramos. As&iacute; que si ten&eacute;s comentarios, dejanos un mensaje en <a href="mailto:info@dondevoyacomer.com">info@dondevoyacomer.com</a>
		</p>
	
	</span>
</div>