<div class="home-box">
	<h2>¿Tenés un local comercial?</h2>
	<span>
		<h3>Beneficios para los usuarios</h3>
		<p>
		Uno de los siguientes pasos de <b>dondevoyacomer.com</b> es comenzar a buscar beneficios para sus usuarios, estos beneficios pueden ir desde la capacidad de realizar una reserva 
		online hasta la posibilidad de recibir códigos de descuento en ocaciones especiales.
		</p>
		<p>
			Si bien aún el sitio se encuentra en una etapa de desarrollo temprana, nos interesa saber cuales son los tipos de beneficios que estarías dispuesto a 
			presentar. 
		</p>
		<h3>Publicidad</h3>
		<p>
			Otra área en la cual <b>dondevoyacomer.com</b> quiere ayudar al local de comidas, es mediante la publicidad de su local dentro del sitio.
		</p>
		<p>
			Uno de los principales métodos sería mediante el destaque de los locales, tanto en la página principal, como en los resultados de búsquedas. Siempre manteniendo 
			la relevancia de la información presentada ante el usuario.
		</p>
		<h3>Contactanos</h3>
		<p>
			Si ten&eacute;s preguntas o sugerencias, ponete en contacto con nosotros por mail a: <a href="mailto:info@dondevoyacomer.com">info@dondevoyacomer.com</a>
		</p>

	</span>
</div>